<div class="brandContainer">
  <a href="/"><img src="/assets/app/img/sidebar/beatguide-logo.png" class="logo" alt="Beatguide Logo"></a>
  <p class="tag-line">Berlin's Electronic Music Events</p>
</div>

<!-- <div class="searchContainer">
  <input type="text" class="searchField" id="searchField" value="search"/>
</div> -->

<div class="navContainer">

    <a href="/#!/" class="button events clearfix"><span></span>Events</a>
    <!-- <a href="/#!/artists" class="button artists"><span></span>Artists</a> -->
    <a href="/#!/venues" class="button venues clearfix"><span></span>Venues</a>
    <a href="/#!/map" class="button map clearfix"><span></span>Map</a>
    <a href="/#!/about" class="button about clearfix"><span></span>About</a>
    <!-- <a href="/#!/profile" class="button profile">Login with Facebook</a> -->

</div>

