<div class="player">
  <div class="closePlayer label"><a href="#"><i class="icon-remove"></i></a></div>
  <div class="eventUrl label"><a href="#">View Event</a></div>

  <div class="controls">
    <a class="prev"><i class="icon-step-backward"></i></a>
    <a class="play"><i class="icon-play"></i> </a>
    <a class="pause"><i class="icon-pause"></i></a>
    <a class="next"><i class="icon-step-forward"></i></a>
  </div>

  <div class="playlist">
    <ol class="tracks"></ol>
  </div>

  <div class="title-bar">

    <div class="time label">
      <span class="ran">0.00</span>&nbsp;/&nbsp;<span class="total">0.00</span>
    </div>

    <div class="trackNumber label"></div>

    <div class="title clearfix">
      <div class="artistName label"></div>
      <div class="trackName label"></div>
    </div>
  </div>

  <div class="waveform">
    <div class="complete"></div>
    <div class="ran"></div>
    <div class="wave"></div>
  </div>
</div>