<div class="artist-avatar" style="background-image:url('{{urlAvatar}}');"></div>
<div class="artist-details">
  <h4 class="artist-name">{{name}}</h4>
  <div class="artist-genre">{{genres}}</div>
</div>
<div class="artist-links">
  {{#urlSoundcloud}}
    <a class="artist-soundcloud" href="{{urlSoundcloud}}" target="_blank"></a>
  {{/urlSoundcloud}}

  {{#urlFacebook}}
    <a class="artist-facebook" href="{{urlFacebook}}" target="_blank"></a>
  {{/urlFacebook}}

  <a class="artist-favouriteBtn" href="#"></a>

  <a class="artist-playBtn" href="#"></a>
</div>