<div class="aboutUs">
  <h1>About Us</h1>
  <h2>Find below some facts on the content you find on Beatguide.</h2>
  <h3>ABOUT</h3>
  <p>Beatguide offers the best way to find electronic music events in Berlin. Whatever time, price, district, music style or venue you have in mind: With Beatguide you can find events in seconds and directly listen to artists' tracks.</p>

  <h3>EVENTS</h3>
  <p>New events are added every day, so usually the total number of events changes over the course of a week. Nevertheless, we're working hard to present as many events as soon as possible. If you notice a mistake, tell us, so we can fix it!</p>

  <h3>OPENING TIMES</h3>
  <p>If we don't know when a party ends and have no average based on experience/direct info then we set it to 8am. Again tell us when a venue’s  closing time is incorrect, so we can set a new average for it!</p>

  <h3>PRICES</h3>
  <p>Not all venues disclose their prices, in these cases we use experience to determine if it will 'probably' cost and if it will 'definitely' cost. Let us know when we are wrong.</p>

  <h3>ARTISTS</h3>
  <p>Not all artists can be found on the internet (believe it or not). The ones we don't have any information for, which is rarely the case, don't show up. Currently artists that do not fit the electronic music styles are left out. If there is demand and enough resources we will take care of this in the future.</p>

  <h3>SOUNDCLOUD</h3>
  <p>Beatguide’s music is powered by Soundcloud. We love Soundcloud!</p>

  <p>Not all artists have an account. Some artists have it, but have not uploaded any music, which is a shame. If that makes you sad too, just write them a message to ask them to upload a set or create an account :)</p>

  <h3>HELP US, HELP YOU</h3>
  <p>Contact us if you want us to promote your venue/event. And let us know when our info is wrong.</p>
</div>




<div class="contactForm">
  <h1>Contact Us</h1>
  <h2>Want to post an event? Or just wanna say hello?</h2>

  <a href="mailto:hello@beatguide.me" class="button"><span></span>hello@beatguide.me</a>

</div>