<h4 class="title">{{event.name}}</h4>

<div class="genres">{{event.genres}}</div>

<div class="timeCost clearfix">

  {{#event.isRunning}}
    <span class="dateEnd">Ends  <time datetime="{{event.dateEnd}}"></time></span>
  {{/event.isRunning}}

  {{#event.isUpcoming}}
    <span class="dateStart">Starts <time datetime="{{event.dateStart}}"></time></span>
  {{/event.isUpcoming}}

  {{#event.isFinished}}
    <span class="dateEnd">Ended <time datetime="{{event.dateEnd}}"></time></span>
  {{/event.isFinished}}

  <span class="cost">{{{event.cost}}}</span>

</div>