<div class="filterContainer clearfix">

<h1>Events</h1>
<h2>{{total}} events in the next 7 days</h2>
<br/>
  <!-- <div class="reset btn">&times;</div>

  <div class="select btn cost">
    <span>cost</span>
    <div class="optionsContainer">
        <div class="options">
        <div class="volvo">0</div>
        <div class="saab"><5</div>
        <div class="mercedes"><10</div>
        <div class="audi">15+</div>
      </div>
    </div>
  </div>

  <div class="select btn district">
    <span>district</span>
    <div class="optionsContainer">
      <div class="options">
        <div class="volvo" value="volvo">Friedrichshain</div>
        <div class="saab">Kreuzberg</div>
        <div class="mercedes">Neu Koelln</div>
        <div class="audi">Mitte</div>
      </div>
    </div>
  </div>

  <div class="select btn genre">
    <span>genre</span>
    <div class="optionsContainer">
      <div class="options">
        <div class="volvo">Techno</div>
        <div class="saab">House</div>
        <div class="mercedes">Trance</div>
        <div class="audi">Dubstep</div>
      </div>
    </div>
  </div> -->
</div>

<div id="eventsContainer"></div>