<center>

  <form class="form-inline">

    <label for="track">
      <span>this song</span>
      <input id="QueryTrack" name="track" type="text" />
    </label>

    <label for="feeling">
      <span>reminds me of</span>
      <input id="QueryFeeling" name="feeling" type="text" />
    </label>

    <button type="submit" class="btn-large btn-primary">go!</button>

  </form>

</center>

<div id="QueryTrackResults">
</div>