<center>

  <form class="form-inline">

    <label for="track">
      <span>This song</span>
      <input id="QueryTrack" name="track" type="text" />
    </label>

    <label for="feeling" class="after-song">
      <span>reminds me of</span>
      <input id="QueryFeeling" name="feeling" type="text" />
    </label>

    <button type="submit" class="btn-large btn-primary after-song">go!</button>

  </form>

</center>

<div id="QueryTrackResults" class="results">
</div>