<center>

  <form class="form-inline well">

    <label for="track">
      <span>Song</span>
      <input id="QueryTrack" type="text" />
    </label>

    <label for="feeling">
      <span>reminds me of</span>
      <input id="QueryFeeling" type="text" />
    </label>

    <span class="btn-large btn-primary btn-go">go!</span>

  </form>

</center>

<div id="QueryTrackResults" class="results"></div>
<div id="QueryFeelingResults" class="results"></div>