<div class="player-background" id="memoriesHeader">
</div>

<br />

<div class="row">
  <div class="span4">
    <div id="RelatedMoods">
    </div>
    <br />
    <div id="RelatedTracks">
    </div>
  </div>
  <div class="span8">

    <div class="well">
      <textarea id="TrackStory"></textarea>
      <br />
      <button id="AddStoryButton" type="submit" class="btn-large btn-primary after-song">add your story!</button>

    </div>

    <div class="well">
      Stories:

      <div id="TrackStories">
      ...
      </div>
    </div>

  </div>
</div>