<div class="player-background" id="memoriesHeader">
</div>

<br />

<div class="row">
  <div class="span4">
    <div id="RelatedMoods">
    </div>
    <br />
    <div id="RelatedTracks">
    </div>
  </div>
  <div class="span8">

    <div class="well">
      <textarea></textarea>
      <br />
      <button type="submit" class="btn-large btn-primary after-song">add your memory!</button>

    </div>

    <div class="well">
      stories...
    </div>

  </div>
</div>