
#deezerPlayer {
  position: absolute;
  top: -300px;
}

#deezerPlayer.active {
  top: 100px;
  right: 30px;
  z-index: 5;
}

h1 {
  height: 100px;
  line-height: 100px;
}

.bubbles {
  position: relative;
}

.bubbles .bubble {
  color: #fff;
  padding: 20px;
  position: absolute;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.bubble.bbl1 { background: #a33; }
.bubble.bbl2 { background: #3a3; }
.bubble.bbl3 { background: #33a; }
.bubble.bbl4 { background: #777; }
.bubble.bbl5 { background: #0aa; }

#pages {
  position: relative;
}

#userWidget {
  position: absolute;
  top: 20px;
  right: 0;
}

#pages .page {
  display: none;
}

.player-background {
  background: #ddd;
  height: 100px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 0 40px;
}

.player-background h2 {
  padding-top: 15px;
  margin-bottom: -5px;
  color: #999;
  font-size: 40px;
  line-height: 45px;
  font-weight: normal;
}
